# Python
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal
*.sqlite3-shm
*.sqlite3-wal
/media
/staticfiles

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
.DS_Store

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat.pid

# Redis
dump.rdb
