__pycache__/
*.py[cod]

env/
venv/
ENV/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

.env
.env.local
.env.*.local

.vscode/
.idea/
.DS_Store

celerybeat-schedule
celerybeat.pid
